@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --transition: all 0.3s ease-in-out;
  /* colors */
  --black1: #1b1f22;
  --violet: rgb(112.520718, 44.062154, 249.437846);
  --green: rgb(60, 235, 44);
  --blue: rgb(0 106 157);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1b1b1b;
  background: var(--black1);
  background:#211f1f;
  font-weight: 400;
  font-family: cursive, sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif; /* better */
}
.body-bg{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  
  background-image: url(./assets/page-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 8px;
}
.splash{
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  background: linear-gradient(217deg, #6cdff6, #509fe6);
}
.body-bg span,
.mainlogo span{
  color: var(--violet);
  padding: 5px 15px;
  border-radius: 4px;
  letter-spacing: 7px;
}
.mainlogo .by {
  font-weight: 200;
}
.App{
  height: 100dvh;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
}
.info{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 8px;
  color: #808080;
  cursor: pointer;
}

/* BASIC CSS */
.absolute-centered{
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.br-12{
  border-radius: 12px !important;
}
.brt-12{
  border-radius: 12px 12px 0 0 !important;
}
.brb-12{
  border-radius: 0 0 12px 12px !important;
}
.br-16{
  border-radius: 16px !important;
}
.pointer {
  cursor: pointer !important;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.zIndex1 {
  z-index: 1 !important;
}
.zIndex2 {
  z-index: 2 !important;
}
.zIndex4 {
  z-index: 4 !important;
}
.zIndex5 {
  z-index: 5 !important;
}
.zIndex6 {
  z-index: 6 !important;
}

.form-control:focus{
  box-shadow: 0 0 0 .25rem rgb(167 167 167 / 25%) !important;
}
/* BASICS */


.copyright{
  position: absolute;
  bottom: 2px;
  color: rgb(83, 83, 83);
}

/* join page/ signin */
.outer-join {
  width: 90vw;
  max-width: 900px;
  height: 88dvh;
  min-height: 400px;
  background-color: rgb(211, 211, 211);
  background-color: lavender;
  background: linear-gradient(120deg, lightPink, lightSeaGreen);
  border-radius: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}
.signin .forms-holder{
  min-width: 370px;
}
.signin-img {
  width: 45%;
}
.signin-img img {
  -webkit-filter: drop-shadow(5px 5px 5px #909090);
  filter: drop-shadow(5px 5px 5px #909090);
}
.continue-with span{
  position: relative;
  z-index: 2;
  background: lightgrey;
  padding: 0 10px;
}
.continue-with section{
  width: 100%;
  height: 1px;
  background: rgb(82, 82, 82);
  position: absolute;
  top: 55%;
}
.toast_container{
  height: fit-content;
  position: absolute;
  bottom: -50px;
  width: 90%;
  transition: var(--transition);
  display: flex;
  justify-content: center;
}
.toast{
  position: relative;
  color: #fff;
  background: var(--violet);
  text-align: center;
  border-radius: 4px;
  padding: 7px 36px;
  opacity: 1 !important;
}
.toast::before{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 15%;
  border-right: 5px solid transparent;
  border-top: 5px solid #712cf9;
  border-width: 6px;
}
.error>.toast{
  background: #ec407a;
}
.error>.toast::before{
  border-top: 5px solid #ec407a;
}
.toast_animation{
  bottom: min(3%, 16px) !important;  
  z-index: 20;
}


/******before chat page,,,users option*******/
.usersList {
  display: flex;
}
.usersList span {
  background-color: grey;
  margin: 2px;
  cursor: pointer;
}

/******before chat page,,,users option*******/

/* chat-head */
.chat-head {
  height: 60px;
  background-color: rgb(75, 75, 75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  color: rgb(206, 206, 206);
  background-color: rgb(210 210 210);
  background-color: rgb(0 106 157);
}

.chatWithProfile {
  border-radius: 50%;
  background-color: #9898986b;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #1e2125;
  background-color: rgb(39 38 39);
  background-color: var(--violet);
  border-radius: 4px;
  color: #fff;
}
.list-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}
.cwp:hover .chatWithProfile{
  opacity: 0.5;
}
.cwp:hover .list-icon{
  opacity: 1;
  visibility: visible;
}

/* connection heading */
.header {
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.connection_header {
  grid-area: 1 / 1 / 2 / 10;
  text-align: center;
  background: #444;
  border-bottom: 5px solid #16160d;
  border-radius: 0 0 4px 4px;
}
.connection_header_sm {
  grid-area: 1 / 1 / 1 / 2;
}
.request_header {
  grid-area: 1 / 10 / 2 / 11;
  text-align: center;
  border-bottom: 5px solid #c00012;
  border-radius: 0 0 4px 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.request_header_lg {
  grid-area: 1 / 2 / 1 / 11;
}
.header_shadow {
  box-shadow: 0px 5px 8px #5d5959a3;
  z-index: 1;
}
.req_badge {
  background: #2f6b8d;
  width: 14px;
  font-size: 9px;
  height: 14px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  line-height: 1px;
}

/*chat page*/
.outer-top{
  width: 90vw;
  min-width: 260px;
  max-width: 900px;
  height: 88dvh;
  min-height: 400px;
  position: relative;
}
.outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0px #00000080;
  overflow: hidden;
  z-index: 1;
  border-radius: 18px;
  border: 1px solid #4b4b4b;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  z-index: 3;
  opacity: 1;
  background: rgb(0 0 0/40%);
  -webkit-backdrop-filter: blur(10px) brightness(150%);
  backdrop-filter: blur(2px) brightness(100%);
}

.noOneToChat {
  height: inherit;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fcdb9c;
  font-size: 12px;
}
.noOneToChat section {
  width: 172px;
  text-align: center;
}

.chat-body {
  flex: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 218, 218);
}

.chat-body .chat-box {
  height: 0;
  flex: auto;
  background-color: rgb(141, 141, 141);
  box-shadow: inset 0 0 6px #000000a6;
  padding: 8px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.chat-box .bg-layer,
.chat-box .transparent-overlay{
  position: fixed;
  background: #000000d4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.chat-box .transparent-overlay{
  background: #ffffff00;
  z-index: 2;
}
.chat-body .chat-box::-webkit-scrollbar {
  width: 6px;
  z-index: 1 !important;
}
.chat-body .chat-box::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.chat-body .chat-box > section.absolute-centered{
  width: max-content;
  color: #fff;
  background: #b1b1b163;
  padding: 4px 8px;
  border-radius: 8px;
  padding: 10px 14px;
  border-bottom: 1px solid #b9b9b9;
}
.chat-body .chat-box > section.absolute-centered::before {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 15%;
  border-left: 12px solid transparent;
  border-top: 12px solid #b1b1b163;
  border-width: 12px;
}

.chat-body .chat-box .load_more span{
  display: inline-block;
  padding: 1px 17px;
  min-width: 88px;
  color: #eaeaea;
  background: #35343457;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  top: -4px;
}

.chat-body .chat-box .nothing_to_load{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  text-align: center;
  padding: 1px 8px;
  color: #eaeaea;
  background: var(--violet);
  border-bottom: 2px solid rgb(43 9 110);
  /* border-radius: 6px 6px 0 6px; */
  border-radius: 9px;
  z-index: 2;
}
.chat-body .chat-box .nothing_to_load .msg-arrow{
  position: absolute;
  bottom: -5px;
  right: 4px;
  border-left: 5px solid transparent;
  border-top: 5px solid var(--violet);
  border-width: 6px;
}
.chat-body .chat-box .date span {
  display: inline-block;
  padding: 1px;
  min-width: 88px;
  color: #eaeaea;
  background: #ffffff3d;
  border-radius: 3px;
}

.chat-body .chat-box .msg-block {
  width: fit-content;
  max-width: 250px;
  position: relative;
  padding: 6px 8px;
  margin: 4px;
  transition: var(--transition);
  position: relative;
}

.chat-body .chat-box .msg-block .msg {
  line-height: 1.3;
  font-size: 14px;
  word-break: break-word;
}

.chat-body .chat-box .msg-block .msg-date {
  display: block;
  font-size: 8px;
  position: relative;
  bottom: -2px;
}

.chat-body .chat-box .msg-block.me {
  background-color: #5c5b5b;
  border-radius: 6px 6px 0 6px;
  color: #f0f0f0;
  align-self: flex-end;
}

/* msg delete icon */
.chat-body .chat-box .msg-delete{
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #5c5b5bb5;
  border-radius: 0 6px 6px 0;
  width: 30px;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);
  z-index: -1;
}
.chat-body .chat-box .me:has(.msg-delete):hover {
  transform: translateX(-30px);
  border-top-right-radius: 0px;
}
.chat-body .chat-box .other:has(.msg-delete):hover {
  transform: translateX(0);
  border-top-right-radius: 0px;
}
.chat-body .chat-box .msg-block:hover .msg-delete {
  transform: translateX(30px);
}

/* deleted msg */
.chat-body .chat-box .msg-block:has(.deleted-msg) {
  background: #a2a2a2bf;
  color: #fff;
  text-decoration: underline;
  font-style: italic;
  padding: 2px 8px;
}

.chat-body .chat-box .msg-block.me .msg-arrow {
  position: absolute;
  bottom: 0;
  right: -5px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #5c5b5b;
  border-width: 6px;
}

.chat-body .chat-box .msg-block.other {
  background-color: #e7e7e7;
  border-radius: 6px 6px 6px 0;
}

.chat-body .chat-box .msg-block.other .msg-arrow {
  position: absolute;
  bottom: 0;
  left: -5px;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #e7e7ee;
  border-width: 6px;
}
.chat-body .chat-box .msg-block.me .msg-date {
  text-align: right;
}

.chat-body .chat-box .authorName.other {
  font-size: 10px;
  margin: -2px 0 4px 4px;
  color: #141414;
}
.chat-body .chat-box .authorName.me {
  font-size: 10px;
  margin: -2px 4px 4px -4px;
  color: #141414;
  width: 100%;
  text-align: right;
}

.req_btn {
  padding: 10px;
  background: #8d8d8d;
}

/*********** my profile*************/
.myProfile {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border: 1px solid #ffb600;
  background: linear-gradient(#1b1b1bd4, #1b1b1b);
}
.myProfile span {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  position: relative;
}
.myProfile .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border-radius: 50%;
}
.myProfile .setting-icon{
  display: none;
  position: absolute;
  left: 0;
  color: white;
  background: #3b3b3bb0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  transform: var(--transition);
}
.myProfile span:hover .setting-icon{
  display: inline;
  animation: rotate infinite 8s linear;
}
@keyframes rotate {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
}
/*********** my profile*************/

.msg-input {
  display: flex;
  padding: 0;
}

.msg-input > input {
  width: 100%;
  border: none;
  padding: 4px 10px;
  font-size: 14px;
}

.msg-input > input:focus {
  outline: none;
}

.msg-input > .emoji-picker{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: #4b4b4b;
}

.msg-input aside{
  width: 350px !important;
  height: 330px !important;
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
}

.msg-input .sendBtn {
  background-color: #d1d1d1;
  color: #4b4b4b;
  border: none;
}

/*sidebar*/
#mySidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: unset !important;
  z-index: 3;
  z-index: 4;
  width: 35%;
  max-width: 300px;
  min-width: 225px;
}
.sidebar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.closeButton {
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.hamburger {
  cursor: pointer;
}
.hamburger img {
  width: 20px;
  transform: rotate(180deg);
  mix-blend-mode: soft-light;
}
.sc{
  font-weight: 400;
  letter-spacing: 4px;
  background: linear-gradient(45deg, black, #1b1a1a80, black);
  background: #dadada;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
input[type="search"] {
  outline: none;
  border: none;
}
#userSearchDropdown, 
#userSearchDropdownGroup {
  overflow: auto;
  height: 80%;
}
#userSearchDropdownGroup {
  height: 100%;
}
#userSearchDropdown section, 
#userSearchDropdownGroup section{
  width: unset;
  margin: 0 0.5rem;
}
#userSearchDropdown img, 
#userSearchDropdownGroup img{
  width: 30px;
  height: 30px; 
}
#userSearchDropdown::-webkit-scrollbar, 
#userSearchDropdownGroup::-webkit-scrollbar {
  width: 6px;
}
#userSearchDropdown::-webkit-scrollbar-thumb, 
#userSearchDropdownGroup::-webkit-scrollbar-thumb {
  background-color: rgb(166 166 166);
  border-radius: 4px;
}
#userSearchDropdownGroup .dropdown-item{
  color: #fff;
}


/* chat list / request list */
.chat_list,
.request_list {
  height: 100%;
  background-color: rgb(218, 218, 218);
  overflow-y: auto;
  overflow-x: hidden;
}
.chat_list_item,
.request_list_item,
.block_list_item {
  padding: 10px 14px;
  border-bottom: 1px solid #b9b9b9;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.chat_list .list img,
.request_list .list img,
.block_list .list img,
.member_list .list img  {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.chat_list .list .groupIcon,
.request_list .list .groupIcon,
.block_list .list .groupIcon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9898986b;
  border-radius: 50%;
  color: whitesmoke;
}

.request_list_item .msg_preview {
  color: #828282;
  font-size: 14px;
}

.chat_list::-webkit-scrollbar,
.request_list::-webkit-scrollbar {
  width: 6px;
}
.chat_list::-webkit-scrollbar-thumb,
.request_list::-webkit-scrollbar-thumb {
  background-color: rgb(156, 156, 156);
  border-radius: 4px;
}

.chat_list .list,
.request_list .list,
.member_list .list {
  position: relative;
}
.deleteConnection,
.blockConnection,
.acceptReq,
.declineReq,
.blockReq {
  position: absolute;
  right: -39px;
  top: 50%;
  transform: translate(0, -50%);
  transition: var(--transition);
  cursor: pointer;
  height: 46.67px;
  border-radius: 4px;
  width: 39px;
  background: #9898986b;
  color: #393636;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat_list .list:hover .blockConnection,
.member_list .list:hover .blockConnection,
.request_list .list:hover .blockReq {
  right: 1px;
}
.chat_list .list:hover .deleteConnection,
.request_list .list:hover .declineReq {
  right: 44px;
  background-color: #dc3545a1;
}
.request_list .list:hover .acceptReq {
  right: 87px;
  background-color: #5ef35e91;
}

.chat_list .list .blockConnection:hover svg,
.chat_list .list .deleteConnection:hover svg,
.request_list .list .acceptReq:hover svg, 
.request_list .list .declineReq:hover svg, 
.request_list .list .blockReq:hover svg,
.member_list .list .blockConnection:hover svg {
   transform: scale(1.1);
}

.request_list .list:hover .overrideClrGreen{
  right: 39px ;
  background-color: #5ef35e91;
}
.request_list .list:hover .overrideClrRed{
  right: 0px;
  background-color: #dc3545a1;
}

.loader{
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader section{
  width: 70px;
  height: 40px;
  display: grid;
  place-items: center;
}

.loader > section svg{
  position: absolute;
  transform: scaleX(-1);
}
.loader > section .svg1{
  animation: blink 500ms steps(10, start) infinite; 
  -webkit-animation: blink 500ms steps(5, start) infinite;
}
.loader > section .svg2{  
  animation: blink2 500ms steps(5, start) infinite;
  -webkit-animation: blink2 500ms steps(5, start) infinite;
}
@keyframes blink {
  to{
    visibility: hidden;
  }
}

.loader + .overlay{
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

/*********************************************** custom LOADER ************************************************* */
.custom-loader {
  width: 50px;
  height: 24px;
  margin: auto;
  background: radial-gradient(circle closest-side, #766df4 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, #766df4 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, #766df4 90%, #0000) 100% 50%;
  background: radial-gradient(circle closest-side, #e7e7e7 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, #e7e7e7 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, #e7e7e7 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: d3 2s infinite linear;
}
@keyframes d3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
/*********************************************** custom LOADER ************************************************* */

/* USER MODAL */
#userModal,
#entityInfoModal,
#groupModal,
#avatarModal,
#themeModal,
#confirmationModal,
#blockedConnModal {
  width: 60%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-dialog {
  width: 100%;
  position: relative;
  height: calc(100% - 3.5rem);
  border-radius: 12px !important;
  border: 1px solid #4b4b4b;
}
.m-dialog::-webkit-scrollbar {
  width: 6px;
}
.m-dialog::-webkit-scrollbar-thumb {
  background-color: rgb(92, 92, 92);
  border-radius: 4px;
}
.m-dialog .btn-close {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #fff;
  cursor: pointer;
}
#userModal .m-dialog img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
#userModal .m-dialog .uImg,
#entityInfoModal .m-dialog .uImg {
  position: relative;
  border-radius: 50%;
  transition: var(--transition);
}
.avatar_edit_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
  opacity: 0;
  background: #00000059;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  place-items: center;
  transition: var(--transition);
}
#userModal .m-dialog .uImg:hover .avatar_edit_btn {
  display: grid;
  opacity: 1;
}
#userModal .list,
#entityInfoModal .list,
#confirmationModal .list{
  list-style-type: none;
  padding: 0;
}
#userModal .list .chat_list_item{
  color: #fff;
  background-color: var(--violet);
  padding: 10px 34px;
  border-radius: 15px;
  border-bottom: 2px solid #353535;
}



/* ENTITY INFO MODAL */
#entityInfoModal .entityInfoOver{
  overflow: auto;
}
#entityInfoModal .entityInfoOver::-webkit-scrollbar {
  width: 6px;
}
#entityInfoModal .entityInfoOver::-webkit-scrollbar-thumb {
  background-color: rgb(171, 171, 171);
  border-radius: 4px;
}
#entityInfoModal .m-dialog .uImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #393939;
  display: grid;
  place-items: center;
}

#entityInfoModal .member_heading{
  padding: 10px 34px;
  border-radius: 15px;
  border-bottom: 2px solid #353535;
  background-color: var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#entityInfoModal .member_list {
  height: 0;
}
.member_list .list {
  overflow: hidden;
}
#entityInfoModal .list:hover {
  color: #fff;
  background-color: rgba(54, 54, 54, 0.352);
}
#entityInfoModal .list .chat_list_item {
  color: #fff;
  background-color: transparent;
  border-radius: 0;
  padding: 10px;
  border-bottom: 1px solid #353535;
}
#entityInfoModal .blockConnection{
  background: transparent;
  color: gray;
}





/* AVATAR EIDT MODAL */
#avatarModal .avatar_grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px 10px 12px 10px;
  margin-top: 25px;
  overflow: auto;
  z-index: 2;
}
.avatar_grid::-webkit-scrollbar {
  display: none;
}
#avatarModal img {
  height: 50px;
  border-radius: 50%;
  transform: scale(1);
  box-shadow: 0 0 10px #191818;
  cursor: pointer;
}
#avatarModal img:hover {
  transform: scale(1.2);
  border: 2px solid var(--violet);
}
.slectedAvatar {
  transform: scale(1.2) !important;
  border: 2px solid var(--green);
}
/* upload profile */
.custom-input-file {
  position: absolute;
  visibility: hidden;
}
.customLabel {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  font-size: 14px;
  color: grey;
  border: 1px solid grey;
  background: transparent;
  cursor: pointer;
}
.imageHolder {
  border: 2px solid rgb(126 126 126);
  border-radius: 50%;
}
.displayImg {
  height: 40px;
  width: 40px;
  border: 1px solid var(--bs-secondary);
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.select_avatar_btn {
  box-shadow: 0px -3px 5px #0c0c0c52;
}
.select_avatar_btn .btn {
  color: var(--violet);
  border: 1px solid grey;
}
.select_avatar_btn .btn:hover {
  color: rgb(255, 255, 255);
  background-color: var(--violet);
  border: 1px solid var(--violet);
}



/* THEME MODAL */
#themeModal .avatar_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 5px 10px 12px 10px;
  margin-top: 25px;
  overflow: auto;
  z-index: 2;
}
#themeModal img {
  width: 100%;
  height: 80px;
  transform: scale(1);
  box-shadow: 0 0 10px #191818;
  /* transition: all ease-in 0.2s; */
  cursor: pointer;
  object-fit: cover;
}
#themeModal .avatar_grid:hover img{
  filter: blur(1px);
}
#themeModal .avatar_grid img:hover {
  filter: blur(0px);
  border: 2px solid rgb(255, 255, 255);
}

#themeModal .avatar_grid img[class^="selectedPattern"] {
  border: 2px solid var(--green);
  filter: blur(0px);
}

/* GROUP MODAL */
#groupModal .m-dialog{
  background: #161616;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
}
#groupModal .m-dialog > div > form > input[type="text"]{
  border: 2px solid rgb(157 157 157);
  border-radius: 12px;
  background: linear-gradient(rgb(248, 249, 250), rgb(225, 225, 225));
}
#groupModal .m-dialog > div > form > input[type="text"]:focus-visible {
  outline: none !important;
}
#groupModal .m-dialog > div > form > button {
  appearance: none;
  border-radius: 12px;
  color: #fff;
  background: linear-gradient(#1b1b1bd4, #1b1b1b);
  border: 1.2px solid #877e01;
  letter-spacing: 3px;
}
#groupModal .groupMembers:has(section){
  height: 106px;
}
#groupModal .groupMembers::-webkit-scrollbar {
  width: 0px;
  height: 4px;
}
#groupModal .groupMembers::-webkit-scrollbar-thumb {
  background-color: rgb(189, 189, 189);
  border-radius: 4px;
}
#groupModal .groupMembers .selectedMember:hover:after{
  content: "";
  width: 35px;
  height: 35px;
  background: #00ff0054;
  position: absolute;
  right: .5rem;
  top: .25rem;
  border-radius: 50%;
}
#groupModal .groupMembers .selectedMember svg{
  background: #bf1919;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 4px;
  width: 12px;
  height: 12px;
  z-index: 1;
}


/* BLOCKED CONNECTIONS MODAL */
#blockedConnModal .m-dialog{
  background: #dadada;
}
#blockedConnModal .block_list{
  position: relative;
  background-color: rgb(218, 218, 218);
  overflow: auto;
  height: calc(100% - 3.5rem);
}
#blockedConnModal .block_list::-webkit-scrollbar {
  width: 6px;
}
#blockedConnModal .block_list::-webkit-scrollbar-thumb {
  background-color: rgb(92, 92, 92);
  border-radius: 4px;
}
#blockedConnModal .block_list .list{
  position: relative;
  transition: var(--transition);
}
.unblock_overlay{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #b9b9b9;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  
  background: #32d53273;
  -webkit-backdrop-filter: blur(10px) brightness(150%);
  backdrop-filter: blur(2px) brightness(100%);
}
#blockedConnModal .block_list .list:hover .unblock_overlay{
  opacity: 1;
}
#blockedConnModal .emptyList{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}


/* CONFIRMATION MODAL */
#confirmationModal .list{
  gap: 10px;
}
#confirmationModal .list li{
  font-weight: 700;
  padding: 10px 34px;
  color: #212529;
  background-color: rgb(202 202 202);
  border-radius: 12px;
  border-bottom: 1px solid #b79900;
  cursor: pointer;
}



/* BUTTON DEsIGN */
.enq_btn {
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  color: #454545;
  padding: 4px;
  background-color: #d9d9d9;
  border-bottom: 5px solid #aaaaaa;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.enq_btn.accept{
  border-radius: 8px 8px 0 0 !important;
}
.enq_btn.delete{
  border-radius: 0 0 0 8px !important;
}
.enq_btn.d2{
  border-radius: 0 0 8px 0 !important;
}
.enq_btn.delete:hover {
  color: #fff;
  background: #f25c5c;
  border-bottom: 5px solid #f42b2b;
}
.enq_btn.accept:hover {
  color: #fff;
  background-color: #6ef388;
  border-bottom: 5px solid #02cc2b;
}



/* NEW HEADER SWITCH */
.switch {
  --_switch-bg-clr: #70a9c5;
  --_switch-padding: 4px; /* padding around button*/
  --_slider-bg-clr: rgba(12, 74, 110, 0.65); /* slider color unchecked */
  --_slider-bg-clr-on: rgba(12, 74, 110, 1); /* slider color checked */
  --_slider-txt-clr: #ffffff;
  --_label-padding: 1rem 2rem; /* padding around the labels -  this gives the swith it's global width and height */
  --_switch-easing: cubic-bezier(
    0.47,
    1.64,
    0.41,
    0.8
  ); /* easing on toggle switch */

  /* width: fit-content; */
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  position: relative;
  isolation: isolate;
}

.switch input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.switch > span {
  display: grid;
  place-content: center;
  transition: opacity 300ms ease-in-out 150ms;
  padding: var(--_label-padding);
  color: #dadada;
}
.switch::before,
.switch::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  transition: inset 150ms ease-in-out;
}
/* switch slider */
.switch::before {
  background-color: var(--_slider-bg-clr);
  inset: var(--_switch-padding) 50% var(--_switch-padding)
    var(--_switch-padding);
  transition: inset 500ms var(--_switch-easing),
    background-color 500ms ease-in-out;
  z-index: -1;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.3),0 1px rgba(255,255,255,.3);
  border-radius: 8px;
}
/* switch bg color */
.switch::after {
  background-color: var(--_switch-bg-clr);
  inset: 0;
  z-index: -2;
  
}
/* switch hover */
/* .switch:hover::after {
  inset: -0.25rem;
} */
/* checked - move slider to right */
.switch:has(input:checked)::before {
  background-color: var(--_slider-bg-clr-on);
  inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding)
    50%;
}
/* checked - set opacity */
.switch > span:last-of-type,
.switch > input:checked + span:first-of-type {
  opacity: 0.5;
}
.switch > input:checked ~ span:last-of-type {
  opacity: 1;
}

/* PRIVACY SWITCH */
.privacy{
  display: flex;
  justify-content: space-between;
}
.privacy> span{
  width: 40px;
  height: 21px;
}
.privacy input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.privacy label {
  cursor: pointer;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  background: #999;
  display: block;
  border-radius: 100px;
  position: relative;
  /* transform: scale(0.7); */
  -webkit-tap-highlight-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.privacy label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.privacy input:checked + label {
  background: var(--green);
}

.privacy input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.privacy label:active:after {
  width: calc(100% - 11%);
}

[data-theme="light"] {
  color: #1f2028;
  background-color: #fff;
}

[data-theme="dark"] {
  color: #fff;
  background-color: #1f2028;
}



/* Media queries */
/* for smaller devices */
@media (max-width:768px) {
  .outer-top{
    width: calc(100vw - 10px);
    height: calc(100dvh - 10px);
  }
  .outer-join{
    flex-direction: column;
    justify-content: center;
  }
  .signin-form{
    width: 100%;
  }
  .signin .forms-holder {
    min-width: unset;
  }

  #userModal,
  #entityInfoModal,
  #groupModal,
  #avatarModal,
  #themeModal,
  #confirmationModal,
  #blockedConnModal {
    width: 90%;
    height: 65%;
  }

   /* ACTIONS */
  .deleteConnection,
  .blockConnection,
  .acceptReq,
  .declineReq,
  .blockReq,
  .unblock_overlay {
    height: 46.67px;
    top: 42%;
    right: 0px;
    margin: 4px;
    border-radius: 4px;
    background: #9a9a9a2e;
  }
  /* right most button */
  .chat_list .list .blockConnection,
  .member_list .list .blockConnection,
  .request_list .list .blockReq {
    right: 0;
  }
  .chat_list .list:hover .blockConnection,
  .member_list .list:hover .blockConnection,
  .request_list .list:hover .blockReq {
    right: 0;
  }
  /* middle button */
  .chat_list .list .deleteConnection,
  .request_list .list .declineReq {
    right: 43px;
    color: #dc3545a1;
  }
  .chat_list .list:hover .deleteConnection, 
  .request_list .list:hover .declineReq {
    right: 43px;
    background-color: #9a9a9a2e;
  }

  /* left most button */
  .request_list .list .acceptReq {
    right: 87px;
    color: #1b7d1bf5;
  }
  .request_list .list:hover .acceptReq {
    right: 87px;
    background-color: #9a9a9a2e;
  }
  
  /* for group req btn */
  .request_list .list .overrideClrGreen{
    right: 43px;
    color: #1b7d1bf5;
  }
  .request_list .list .overrideClrRed{
    right: 0px;
    color: #dc3545a1;
  }
  /* for block btn */
  .unblock_overlay{
    width: 40px;
    right: 0;
    top: 0;
    opacity: 1;
    color: #1b7d1bf5;
    border-bottom: none;
  }


  /* toast */
  .toast{
    width: fit-content;
  }
  .toast_animation{
    bottom: min(3%, 20px) !important;  
  }
}


@media (max-width:480px) {
  .outer-top{
    width: 100vw;
    height: 100dvh;
  }
  .outer{
    border-radius: 0;
  }
}

/* for tab and larger devices */
@media (min-width:768px) {
  .req_btn {
    padding: 10px 17%;
  }
}