body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* join page */
.outer-join  {
  width: 350px;

  height: 400px;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  background-color: rgb(211, 211, 211);

  border-radius: 4px;

  padding:0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}



/*chat page*/
.outer {
  width: 350px;
  /* height: 400px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  border-radius: 4px;
  box-shadow: 0 0 3px #b5b5b5;
  overflow: hidden;
}

.chat-head {
  height: 60px;
  background-color: rgb(75, 75, 75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  color: rgb(206, 206, 206);
}

.wlcmMsg{
  text-align: center;
  color: rgb(209, 208, 208);
  font-size: 11px;
}




.chat-body {
  height: 320px;
  background-color: rgb(218, 218, 218);
}

.chat-body .chat-box {
  height: 282px;
  background-color: rgb(141, 141, 141);
  padding: 8px;
  overflow-y:scroll ;
  display: flex;
  flex-direction: column;
}
.chat-body .chat-box::-webkit-scrollbar{
  /* display: none; */
  width: 8px;
}
.chat-body .chat-box::-webkit-scrollbar-thumb{
  background-color: rgb(92, 92, 92);
  border-radius: 4px;
}

.chat-body .chat-box .msg-block {
  width: fit-content;

  max-width: 200px;

  position: relative;

  padding: 6px 8px;

  margin: 4px;
}

.chat-body .chat-box .msg-block .msg {
  line-height: 1.3;
  font-size: 14px;
  word-break: break-word;
}

.chat-body .chat-box .msg-block .msg-date {
  display: block;
  font-size: 10px;
  position: relative;
  bottom: -2px;
}

.chat-body .chat-box .msg-block.me {
  

  background-color: #5c5b5b;
  border-radius: 6px 6px 0 6px;
  color: #f0f0f0;
  align-self: flex-end;
}

.chat-body .chat-box .msg-block.me .msg-arrow {
  position: absolute;

  bottom: 0;

  right: -5px;

  border-right: 5px solid transparent;

  border-bottom: 5px solid #5c5b5b;

  border-width: 6px;
}

.chat-body .chat-box .msg-block.other {
  background-color: #e7e7e7;

  border-radius: 6px 6px 6px 0;
}

.chat-body .chat-box .msg-block.other .msg-arrow {
 


  position: absolute;

  bottom: 0;

  left: -5px;

  border-left: 5px solid transparent;

  border-bottom: 5px solid #e7e7ee;

  border-width: 6px;
}
.chat-body .chat-box .msg-block.me .msg-date{
  text-align: right;
}

.chat-body .chat-box .authorName.other{
  font-size: 10px;
  margin: -2px 0 4px 4px;
  color: #141414;
}
.chat-body .chat-box .authorName.me{
  font-size: 10px;
  margin: -2px 4px 4px -4px;
  color: #141414;
  width: 100%;
  text-align: right;
}

.msg-input {
  display: flex;
  padding: 0;
}

.msg-input input {
  width: 100%;
  border: none;
  padding: 4px 10px;
  font-size: 14px;
}

.msg-input input:focus {
  outline: none;
}

.msg-input button {
  background-color: #a4a4a4;
  border: none;
  color: white;
}

/*sidebar*/
.sidebar-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.closeButton {
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.hamburger {
  cursor: pointer;
}
.hamburger img{
  width: 20px;
  transform: rotate(180deg);
}


