body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.msg{
  display: block;
  width:fit-content;

}
.me{
background-color: green;
}
.other{
  background-color: rgb(39, 161, 151);
}