<!DOCTYPE html>
<html>

<head>
    <title>Canvas Example</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Jersey+25&family=Orbitron:wght@400;500&display=swap"
    rel="stylesheet"
  />
    <style>
        body {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            background-color: #000;
        }

        canvas {
            background-color: #24242473;
        }

        .second{
            height: 100vh;
            background: #000;
        }
    </style>
</head>

<body>
    <canvas id="myCanvas" width="500" height="500"></canvas>

    <div class="second">

    </div>

    <script>
        var canvas = document.getElementById("myCanvas");
        canvas.width = window.innerWidth-20;
        canvas.height = window.innerHeight;

        var ctx = canvas.getContext("2d");

        // Create a loop to draw the boxes
        for (var i = 0; i < canvas.width; i += 32) {
            for (var j = 0; j < canvas.height; j += 32) {
                // Draw a box
                // ctx.fillStyle = "black";//like background color
                ctx.fillRect(i, j, 30, 30);
                // Create a border
                ctx.strokeStyle = "green";
                ctx.lineWidth = 0.2;
                ctx.strokeRect(i, j, 50, 50);
            }
        }

        // tect
        ctx.font = "120px 'Jersey 25'";
        ctx.fillStyle = "violet";
        ctx.textAlign = "center";//aligns horizontally
        ctx.textBaseline = "middle";//aligns vertically
        ctx.fillText("CYBERPUNK", canvas.width/2, canvas.height/2);// adds text to center of canvase
    </script>
</body>

</html>